body{

	font-family: 'Poiret One', serif;	
	/*font-family: 'Russo One', serif;	*/

}
a:hover{
	text-decoration: none;
	color: black;
}
a{

	color: black;
}

div,a, p, h1,h2,h3,h4,h5,h6,nav,ul{
	margin: 0px;
	padding: 0px;
}

header{

	background-color: #E4002B;

}

.logo-area{
	width: 70%;



}
.logo-area img{
	width: 100%;
	height: 100%;
	padding: 10px;
}


.heaer-content-area ul{
	list-style: none;

}
.heaer-content-area ul li{
	display: inline-block;
}


/*Menu top*/

.menu-top{

	width: 60%;
	margin-left: 40%;
	background-color: black;
	padding: 15px 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;


}

.menu-top ul{

	text-align: center;

}
.menu-top ul li{

}
 .menu-top ul li a{
	display: block;
	color: white;
	font-size: 16px;
	font-weight: bolder;
	padding: 0px 3px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;

}


.menu-top ul li input{
	border: 1px solid transparent;
	outline: none;
	padding: 3px 6px;
	border-radius: 3px;
	color: #3498db;
	font-weight: bolder;
	letter-spacing: 2px;

}

.menu-top ul span{
	font-size: 25px;
}




/*Main Menu*/
.main-menu{

	margin-top: 5%;

}

.main-menu ul{

}
.main-menu ul li{

}
.main-menu ul li a{
	display: block;
	font-size: 30px;
	font-weight: bold;
	color: white;
	padding: 3px 6px;
}
.main-menu ul li:hover a{
	margin-bottom: 1px solid white;
}



.main-menu ul span{
	font-size: 25px;
	color: white;
}

.active{
	text-decoration: underline;
}




/*Home page Start*/

/*Banner area */

.banner-area{
	font-family: 'Russo One', serif;	
	width: 100%;
	height: 100%;	

	background-image: url('../../asserts/images/banner.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

	background-position: 40% 0%;

	height: 850px;
	max-height: 850px;

	position: relative;

	overflow: hidden;


}

.banner:after{
	content: '';
    width: 0px;
    height: 0px;
    border-top: 550px solid transparent;
    border-left: 1346px solid yellow;
    border-right: 100px solid transparent;
    position: absolute;
    bottom: 0px;
    left: 0px;

}

.banner-content{

	position: absolute;
	top: 65%;
	left: 5%;

	width: 50%;

	z-index: 999;
}

.banner-content h1{
	font-size: 75px;
	font-weight: bolder;
	color:#E4002B;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.banner-content a{
	background-color:#E4002B;
	color: yellow;
	text-transform: uppercase;
	font-size: 25px;
	
}


/*Burger area start*/


.fried-bruger-area{

	font-family: 'Russo One', serif;


	background-color: yellow;
	padding: 80px 0px;


}
.fried-burger-content{
	position: relative;



}

.fried-burger-content .img{
	position: absolute;

	top: 12%;
	left: -50%;

	width: 300px;
	height: 300px;
	transition: .2s;

} 
.fried-burger-content-area:hover .fried-burger-content .img {
	left: -20%;
	transform: scale(1.2,1.2);
}

.fried-burger-content .img img{

	width: 100%;
	height: 100%;

}

.fried-burger-img-content{
	position: relative;
	z-index: 333px;
	width: 65%;

	margin-left:35%;

}



.fried-burger-img-content p:first-of-type{
	
	padding: 10px 12px;
	font-size: 20px;
	text-transform: uppercase;
	width: 50%;
	margin-bottom: 20px;

}

.fried-burger-img-content h1{
	font-size: 70px;
	text-transform: uppercase;
}

.fried-burger-img-content p a{
	color: red;
}

.fried-burger-content-right {

	padding: 40px;
	text-align: center;

	border:1px solid transparent;
	box-shadow: 0px 0px 1px transparent;

	transition: .2s;


}
.fried-burger-content-right:hover {
	border:1px solid rgba(228,0,43,.3);
	box-shadow: 0px 0px 1px rgba(228,0,43,.3);
}

.fried-burger-content-right h1 {
	
	font-size: 70px;
	text-transform: uppercase;
	
	margin-bottom: 10px;


}

.fried-burger-content-right p{

	font-size: 17px;
	margin-bottom: 10px;

}
.fried-burger-content-right a{

	text-transform: uppercase;
	display: inline-block;
	padding: 10px 8px;
}


/*Latest blog news */

.blog-latest-news-area{
	padding: 80px 0px;
	position: relative;


}

.blog-latest-curve-area:after{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: 450px solid transparent;
    border-left: 0px solid transparent;
    border-right: 1366px solid yellow;


}



.blog-latest-img-area{
	margin-top: 150px;
	width: 70%;
	padding: 10px;
	font-family: 'Russo One', serif;	
	font-weight: lighter;


}
.blog-latest-img-area h2{
	
	margin-bottom: 15px;

}

.blog-latest-img-area a img{
		width: 500px;
		height: 300px;
		margin-bottom: 10px;
}

.blog-latest-img-area p+p{
	width: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
}



.news-hader{
	font-family: 'Russo One', serif;
	position: absolute;
	top: 20%;
	right: 0px;

	z-index: 999;

	color:#E4002B;
}
.news-hader h1{
	font-size: 50px;
}

/*Moto area*/
.moto-area{

	background-image: url('../../asserts/images/moto.jpg');
	background-repeat: no-repeat;

	-webkit-background-size: cover;
	background-size: cover;
	padding: 60px 0px;


	height: 600px;
	max-height: 250px;

	text-align: center;
	background-attachment: fixed;

}

.title-moto h1{
	color:#FFFF00;

	font-size: 60px;
	font-weight: 1000;
	text-transform: uppercase;
	margin-top: 20px;

}



/*Our food page*/


.page-title-header{
		
	background-position: center;
	background-repeat: no-repeat;

	-webkit-background-size: cover;
	background-size: cover;

	padding: 100px 0px;

	max-height: 320px;

	background-attachment: fixed;


}

.page-title{
	text-align: center;

}

.page-title h1{


	font-weight: bolder;
	color: black;
	width: 40%;
	margin: auto;
	padding: 10px 0px;
	background-image: url('../../asserts/images/bar.png');

	background-position: center;

	-webkit-background-size: cover;
	background-size: cover;

	background-repeat: no-repeat;

	text-transform: uppercase;

}


.food-categories{
	padding: 60px 0px;
}


.food-categories .controls button{
	outline: none;
	
}


.items:after{
	content: '';
	display: block;
	clear: both;
}

.items{
	width: 100%;
	border: 1px solid green;
	margin-top: 20px;
	padding-top: 9px;
}
.items .mix{
	width: 32%;
	float: left;
	height: 190px;
	background-color: red;
	margin-left: 10px;
	margin-bottom: 10px;
}

.mix img{
	width: 100%;
	height: 100%;
}


/*Career Page*/

.search-job-area{

	padding: 60px 0px;

	background-repeat: no-repeat;

	background-size: 100% 100%;


}

.search-area{
	padding: 20px 0px;
	background-color: rgba(228,0,43,.2);
	color: white;
	border-radius: 2px;
}

.search-job-text{

}

.search-job-text h1{
	text-transform: uppercase;
	font-size: 35px;
	margin-top: 10px;
	font-weight: bolder;
}

.search{

}

.search-job p{
	text-transform: uppercase;
	margin-bottom: 3px;
}

.search-job input[type='text']{
	border: 1px solid transparent;
	outline: none;
	width: 100%;
	padding:5px 6px;
	border-radius: 3px;
	font-weight: bolder;
}
.search-job input[type='submit']{
	margin-top: 25px;
	padding:5px 10px;
	border: 1px solid white;
	outline: none;
	border-radius: 3px;	
	color: white;
	background-color: transparent;
	text-transform: uppercase;

	cursor:pointer;

}

/*Looking for a job*/
.differetn-job-area{
	font-family: 'Russo One', serif;	

	padding: 50px 0px;
}

.differetn-job-title{

	width: 70%;
	margin: auto;
	text-align: center;
	margin-bottom: 40px;
}

.restaurent-area{

	text-align: center;
}

.restaurent-area img{
	width: 60px;
	height: 60px;
	display: block;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}

.restaurent-area a{
	display: block;
	padding: 8px 12px;
	background-color: red;
	color: white;
	text-transform: uppercase;
	border-radius: 2px;
}

.restaurent-area a:hover{
	text-decoration: none;
}


/*Sign up*/
.sign-up-alart-area{

}
.youtube{
	width: 100%;
	height: 100%;


}

.youtube iframe{
	width: 100%;
	height: 100%;	

}

.sign-up{
	background-color: #ECECEC;
	font-family: 'Russo One', serif;

}
.sign-up .sign{
	padding: 20px 0px;

}
.sign-up .sign h4{
	text-transform: uppercase;
	margin-bottom: 15px;
}

.sign-up .sign input, .sign-up .sign label{
	display: block;
}
.sign-up .sign input{
	display: block;
	margin-bottom: 10px;
	font-family: 'Poiret One', serif;
	outline: none;
	width: 100%;
	padding: 5px;
	text-transform: capitalize;
}
.sign-up .sign input[type="submit"]{
	display: block;
	border: 1px solid transparent;
	background-color: red;
	color: white;
	font-family: 'Russo One', serif;	

	cursor:pointer;
}


.sign-up .sign label{
	display: block;
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;

}

/*Blog page */


.blog-area{

	padding: 70px 0px;
	font-family: 'Russo One', serif;
}

.blog-content{
	border-bottom: 1px dotted black;
	margin-bottom: 30px;
	padding-bottom: 15px;

}


.blog-img{
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
}
.blog-img img{
	width: 100%;
	height: 100%;
}

.blog-content a h2{
	margin-bottom: 15px;
}
.blog-content p{
	margin-bottom: 10px;
}


/*Gallery blog post*/

.blog-gallery{
	width: 100%;
	height: 300px;

	overflow: hidden;
	margin-bottom: 15px;
}
.blog-gallery img{
	width: 100%;
	height: 100%;

}

.blog-content .video-post{
	width: 100%;
	height: 300px;
	margin-bottom: 15px;
}
.blog-content .video-post iframe{
	width: 100%;
	height: 100%;
}


/*Widgets area*/
.blog-right-widget{

}

.widgets{
	padding: 10px 0px;
}
.widgets h3{

	margin-bottom: 10px;
	color: black;
	text-align: center;
	background-image: url('../../asserts/images/bar.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 30px 0px;

}


.categories  ul{
	list-style: none;
}
.categories  ul li{

}
.categories  ul li a{
	display: block;
	margin-bottom: 10px;
	border-bottom: 1px dotted black;
	padding-bottom: 5px;
	transition:.1s;
}
.categories  ul li:hover a{
	color:red;
}

.widget-latest{
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	border-bottom: 1px dotted black;
	padding-bottom: 10px;

}

.widget-latest:after{
	content: '';
	display: block;
	clear: both;
}

.widget-latest .widget-latest-img{
	float: left;
	width: 38%;
	height: 100%;


}
.widget-latest .widget-latest-img img{
	width: 100%;
	height: 100%;
}

.widget-latest .widget-latest-content{
	float: right;
	width: 58%;

}

.widget-latest .widget-latest-content a > h5{
	
	font-size: 16px;
	font-weight: bolder;
	letter-spacing: 1px;
	margin-bottom: 5px;

}

.widget-latest .widget-latest-content a+p{
	font-size: 11px;
}
.widget-latest .widget-latest-content p+p{
	font-size: 13px;
}

/*Widgets tags*/

.tags ul{
	list-style: none;
	text-align: center;
}

.tags ul li{
	display: inline-block;
}
.tags ul li a{
	display: block;
	border: 1px dotted black;
	margin-right: 3px;
	padding: 5px 8px;
	margin-bottom: 8px;
	text-align: center;
	transition: .1s;
	
}
.tags ul li:hover a{
	
	color: red;
	
}

/*Instragram widget area*/
.widget-instragram-area{
	width: 100%;

}

.widget-instragram-area:after{
	content: '';
	display: block;
	clear: both;

}

.widget-instragram{
	float: left;
	width: 33.3%;
	height: 90px;
	position: relative;
	overflow: hidden;

	cursor: pointer;



}
.widget-instragram img{
	width: 100%;
	height: 100%;

	transition: .5s;
}


.blar{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	margin: auto;
	background-color: rgba(0,0,0,.3);

	transition: 1s;

	border-radius: 0%;
	display: block;

}

.widget-instragram:hover .blar{
	display: none;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: 1s;


}

.widget-instragram:hover img{
	transform: scale(1.1,1.1);
	
}

/*Subscribe*/
.subscribe-mail{
	
	background-color: red;
	padding: 20px;
	border-radius: 5px;

}
.subscribe-mail input{
	border:1px solid transparent;
	outline: none;
	padding: 4px 3px;
	border-radius: 2px;
}
.subscribe-mail input[type='text']{
	width: 60%;


}
.subscribe-mail input[type='submit']{
	width: 35%;
	background-color: yellow;
	padding: 5px;
	cursor:pointer;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	font-size: 14px;
}

/*Banner wedget*/
.widget-banner{
	width: 100%;
	height: 200px;
}

.widget-banner img{
	width: 100%;
	height: 200px;
}


/*Kid body area*/

.kid-header-area{
	padding-bottom: 20px;

}

.kid-header	{
	width: 100%;

	background-color: white;
	color: black;

	margin-top: -50px;
	padding: 10px 20px 30px 20px;

	text-align: center;

	box-shadow: 1px -1px 1px 1px #7f8c8d;

}

.kid-header h2{
	font-weight: bold;
	color: black;
}


/*Kid body*/
.kid-body{
	margin-bottom: 50px;
}

.kid-body-area{

	padding: 50px 0px;
}


.kid-body-content-img{
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	position: relative;
	transition: 1s;
}

.kid-body-content-img:hover .kid-shado{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.3);
	position: absolute;
	top: 0px;
	left: 0px;
}

.kid-body-content-img img{
	width: 100%;
	height: 100%;
}

.kid-body-content a > h3{
	text-align: center;
	font-weight: bold;
	color: black;
	margin-bottom: 40px;
	text-transform: capitalize;
}




.kid-body-content-text{
	margin-bottom: 20px;
}
.kid-body-content-text p{
	color: black;
	font-weight: bold;
	letter-spacing: 1px;
}

.kid-body-content > a:last-of-type{
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	letter-spacing: 1px;
	width: 100%;
	background-color: #f1c40f;
	cursor:pointer;
	text-align: center;
	padding: 10px 0px;
	border-radius: 3px;

}


/*Offer Page*/

.offer-area{

	padding: 50px 0px;
}


.offer-area-content{

}


.offer-header{

	padding: 15px 0px;
}

.offer-header label{
	font-weight: bold;
	font-size: 30px;
	color: black;
}
.offer-header select{
	font-weight: bold;
	color: black;
	text-transform: uppercase;
	padding: 2px 0px;
	outline: none;
	border: 1px solid transparent;
	cursor: pointer;
}

.offer-header option{
	font-weight: bold;
	color: black;

}

.offer-body-content > a .kid-body-content-img{
	margin-bottom: 0px;
	position: relative;
	z-index: 222;
}


.offer-time{
	padding: 10px 8px;
	font-weight: bold;
	color: black;
	background-color: rgba(255,255,255,.5);
	margin-top: -44px;
	z-index: 999;
	position: relative;




}
.offer-body{
	margin-bottom: 40px;
}

.offer-content{
	padding: 20px;
	background-color: black;
	color: white;
}

.offer-content h1{
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Russo One', serif;
	color: yellow;
}

.offer-content h5{
	margin-bottom: 10px;
	font-weight: bold;
	letter-spacing: 1px;

}

.offer-content p{
	margin-bottom: 15px;
	font-weight: bold;
	letter-spacing: 1px;

}



.offer-content a{
	color: yellow;
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: black;

	padding: 10px 0px;
	text-transform: uppercase;
	font-family: 'Russo One', serif;
	background-color: yellow;


}



























/*Footer area start*/

footer{
	padding: 40px 0px;
	background-color: green;
	color:white;
}


footer .footer-content{

	padding: 20px 10px;
}

footer .footer-content h4{
	font-weight: bolder;
	font-size: 30px;
	margin-bottom: 10px;
}

footer .footer-content ul{
	list-style: none;
}

footer .footer-content ul li{
	
}

footer .footer-content ul li a{
	color:white;
	display: block;
	padding: 6px 0px;
	font-size: 18px;
	font-weight: bolder;
}

.footer-content a img{
	width: 50px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 8px;
	margin-left: 6px;
}
