body{

	font-family: 'Poiret One', serif;	
	/*font-family: 'Russo One', serif;	*/

}
div,a, p, h1,h2,h3,h4,h5,h6,nav,ul{
	margin: 0px;
	padding: 0px;
}

header{

	background-color: #E4002B;

}

.logo-area{
	width: 70%;



}
.logo-area img{
	width: 100%;
	height: 100%;
	padding: 10px;
}


.heaer-content-area ul{
	list-style: none;

}
.heaer-content-area ul li{
	display: inline-block;
}


/*Menu top*/

.menu-top{

	width: 60%;
	margin-left: 40%;
	background-color: black;
	padding: 15px 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;


}

.menu-top ul{

	text-align: center;

}
.menu-top ul li{

}
 .menu-top ul li a{
	display: block;
	color: white;
	font-size: 16px;
	font-weight: bolder;
	padding: 0px 3px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;

}


.menu-top ul li input{
	border: 1px solid transparent;
	outline: none;
	padding: 3px 6px;
	border-radius: 3px;
	color: #3498db;
	font-weight: bolder;
	letter-spacing: 2px;

}

.menu-top ul span{
	font-size: 25px;
}




/*Main Menu*/
.main-menu{

	margin-top: 5%;

}

.main-menu ul{

}
.main-menu ul li{

}
.main-menu ul li a{
	display: block;
	font-size: 30px;
	font-weight: bold;
	color: white;
	padding: 3px 6px;
}
.main-menu ul li:hover a{
	margin-bottom: 1px solid white;
}



.main-menu ul span{
	font-size: 25px;
	color: white;
}




/*Home page Start*/

/*Banner area */

.banner-area{
	font-family: 'Russo One', serif;	
	width: 100%;
	height: 100%;	

	background-image: url('../../asserts/images/banner.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

	background-position: 40% 0%;

	height: 850px;
	max-height: 850px;

	position: relative;

	overflow: hidden;


}

.banner:after{
	content: '';
    width: 0px;
    height: 0px;
    border-top: 550px solid transparent;
    border-left: 1346px solid yellow;
    border-right: 100px solid transparent;
    position: absolute;
    bottom: 0px;
    left: 0px;

}

.banner-content{

	position: absolute;
	top: 65%;
	left: 5%;

	width: 50%;

	z-index: 999;
}

.banner-content h1{
	font-size: 75px;
	font-weight: bolder;
	color:#E4002B;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.banner-content a{
	background-color:#E4002B;
	color: yellow;
	text-transform: uppercase;
	font-size: 25px;
	
}


/*Burger area start*/


.fried-bruger-area{

	font-family: 'Russo One', serif;


	background-color: yellow;
	padding: 80px 0px;


}
.fried-burger-content{
	position: relative;



}

.fried-burger-content .img{
	position: absolute;

	top: 12%;
	left: -50%;

	width: 300px;
	height: 300px;
	transition: .2s;

} 
.fried-burger-content-area:hover .fried-burger-content .img {
	left: -20%;
	transform: scale(1.2,1.2);
}

.fried-burger-content .img img{

	width: 100%;
	height: 100%;

}

.fried-burger-img-content{
	position: relative;
	z-index: 333px;
	width: 65%;

	margin-left:35%;

}



.fried-burger-img-content p:first-of-type{
	
	padding: 10px 12px;
	font-size: 20px;
	text-transform: uppercase;
	width: 50%;
	margin-bottom: 20px;

}

.fried-burger-img-content h1{
	font-size: 70px;
	text-transform: uppercase;
}

.fried-burger-img-content p a{
	color: red;
}

.fried-burger-content-right {

	padding: 40px;
	text-align: center;

	border:1px solid transparent;
	box-shadow: 0px 0px 1px transparent;

	transition: .2s;


}
.fried-burger-content-right:hover {
	border:1px solid rgba(228,0,43,.3);
	box-shadow: 0px 0px 1px rgba(228,0,43,.3);
}

.fried-burger-content-right h1 {
	
	font-size: 70px;
	text-transform: uppercase;
	
	margin-bottom: 10px;


}

.fried-burger-content-right p{

	font-size: 17px;
	margin-bottom: 10px;

}
.fried-burger-content-right a{

	text-transform: uppercase;
	display: inline-block;
	padding: 10px 8px;
}


/*Latest blog news */

.blog-latest-news-area{
	padding: 80px 0px;
	position: relative;
	height: 900px;
	max-height: 450px;

}

.blog-latest-curve-area:after{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: 450px solid transparent;
    border-left: 0px solid transparent;
    border-right: 1366px solid yellow;
}



.blog-latest-img-area{

	margin-top: 150px;
	width: 50%;
}

.news-hader{
	font-family: 'Russo One', serif;
	position: absolute;
	top: 20%;
	right: 0px;

	z-index: 999;

	color:#E4002B;
}
.news-hader h1{
	font-size: 50px;
}











/*Footer area start*/

footer{
	padding: 40px 0px;
	background-color: green;
	color:white;
}


footer .footer-content{

	padding: 20px 10px;
}

footer .footer-content h4{
	font-weight: bolder;
	font-size: 30px;
	margin-bottom: 10px;
}

footer .footer-content ul{
	list-style: none;
}

footer .footer-content ul li{
	
}

footer .footer-content ul li a{
	color:white;
	display: block;
	padding: 6px 0px;
	font-size: 18px;
	font-weight: bolder;
}

.footer-content a img{
	width: 50px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 8px;
	margin-left: 6px;
}
